body {
    background-color: transparent;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: Arial, sans-serif;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}

.status-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status-wrapper h1 {
    margin: 0;
    font-size: 5em;
    text-align: start;
}

.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
}

.status-container p {
    margin: 0 0.5em 0 0;
    font-size: 4em;
}

.status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.slot {
    height: 3em;
    width: 5em;
    border: 3px solid white;
    border-radius: 1em;
    position: relative;
}

.slot.filled::before {
    content: "";
    height: calc(3em - 6px);
    width: calc(5em - 6px);
    background-color: white;
    border-radius: calc(1em - 6px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}